/* #region Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  gap: 2rem;
  position: relative;
  z-index: 10;
}

#site_map {
  display: flex;
  gap: 1rem;
  align-items: center;

  li {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;


    .highlight_bar {
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      height: 7px;
      background-color: var(--dc_blue);
      display: none;
    }

    #active_bar {
      display: block;
    }

    &:hover .highlight_bar {
      display: block;
    }
  }
}

/* #endregion Header */
/* #region Jumbotron */
#jumbotron * {
  color: white;
}

#jumbotron {
  background-color: var(--dc_dark);
}

#jumbotron_content {
  height: 118px;
}

#jumbotron_links_section {
  background-color: var(--dc_blue);

}

#jumbotron_links {
  display: flex;
  justify-content: space-evenly;
  gap: 75px;

  li {
    height: 155px;
    display: flex;
    align-items: center;
    gap: 14px;

    &:hover {
      cursor: pointer;

      p {
        transition: all ease .3s;
        font-weight: 700;
        text-decoration: underline;
      }
    }

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

/* #endregion Jumbotron */
/* #region main */


/* #endregion main */
/* #region footer */


/* #endregion footer */