/* #region common */
:root {
  --dc_blue: #0282f9;
  --dc_dark: #1c1c1c;
  --dc_dark_subtler: #303030;

  --test: red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  list-style: none;
}

.page_margins {
  margin: 0 320px;
}

/* #endregion common */
/* #region mediascreen */
@media screen and (max-width: 992px) {
  .page_margins {
    margin: 0 160px;
  }
}

@media screen and (max-width: 768px) {
  .page_margins {
    margin: 0 80px;
  }
}

@media screen and (max-width: 576px) {
  .page_margins {
    margin: 0 20px;
  }
}

/* #endregion mediascreen */